@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    font-size:16px;
}


body {
    max-width: 70.25rem;
    /* digital numbers */
    font-family: 'VT323', monospace;
    color: #4022F0;
    line-height: 1.5;
    margin: 4rem auto;

}

header {
    display: flex;
    width: 70rem;
    height: 7.125rem;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
nav,
footer {
    color: #4022F0;
    font-family: 'VT323', monospace;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #4022F0;
    text-align: center;
    /* digital numbers */
    font-family: 'VT323', monospace;
    font-size:3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: 0.03938rem;
}

p {
    color: #4022F0;
    text-align: center;
    /* digital numbers */
    font-family: 'VT323', monospace;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: 0.03938rem;
}

img {

}

nav a {
    color: greenyellow ;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a:visited,
.selected {
    color: greenyellow;
}

a h1:hover {

}


main {
    justify-content: center;
}

section {
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

footer {
    margin: auto;
    display: flex;
    width: 32.5rem;
    height: 3.4375rem;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 6.5rem;
}

#byline {
    width: 100%;
    margin: auto; 
    text-align: center;
}

#byline h5{
    font-size: 3rem;
    text-align: center;
    
}

.left {
    grid-column: 1/6; 
}

.right {
    grid-column: 7/12; 
}
.top1 {
    scale: 250%;
    grid-column: 3; 
    justify-content: center;
}

#title {
    text-align:center;
}

#inline {
    display: table;
    width:100%;
    background-color: #2410f932;
  }
  #inline div {
    display: flex;
     align-items: center;
        justify-content: space-evenly;
  }
  #inline h1 {
    text-align: center;
  }
  .smlBox {
    font-family: Century Gothic, sans-serif;
    font-size: .9em;
    margin: 17px 0px 17px 0px;
    border-radius: 5px;
    padding: 7px 17px 7px 17px;
  }